*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
}

h1{
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #FFB319;
    margin-top:10px;
}

.player-turn{
    text-align: center;
    font-family: 'Lobster', cursive;
    color: #FFB319;
}
.game{
    height: 550px;
    width: 650px;
    position: absolute;
    top:4rem;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(0, 119, 255);
    box-shadow: 24px 19px 10px -12px rgba(166,198,211,0.84);
    padding: 66px 12px 0;
    margin-top:3.8rem;
}



td{
    height: 90px;
    width: 90px;
   
    border-radius: 50%;
    background-color: white;
    transition: background-color 2ms ease-in-out;

}




.reset{
    position: absolute;
    top:100vh;
  
    left: 50%;
  
 

    transform: translate(-50%);
}

.reset button{
    margin-bottom: 20px;
    background-color: #FFB319;
}



.openModal{
    display: none;
}



